<a href="https://colab.research.google.com/github/cahyaekapermana/learn-machine-learning/blob/main/IrisSKLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from  sklearn.datasets  import  load_iris

# load iris.csv, upload data csv ke file colab

iris  = pd.read_csv('Iris.csv')

In [7]:
# load head untuk melihat informasi dari datasets
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Dapat dilihat bahwa terdapat **kolom yang tidak** penting pada dataset yaitu kolom ‘Id’. Untuk menghilangkan kolom tersebut kita bisa menggunakan **fungsi drop().**

In [8]:
# Menghapus kolom yang tidak penting (id)
iris.drop('Id', axis=1, inplace=True)